// colors
$accentColor = #368CCB
$textColor = #212529
$borderColor = #eaecef
$codeBgColor = #0C0C0C
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
